body{
    margin: 0px;
    padding: 0px;
}
.first{
    height: 10px;
    width: 10%;
    float: left;
    background-color:white;
}
.sec{
    height: 10px;
    width: 10%;
    float: left;
    background-color: black;
}
